.container{
    text-align: center;
    
    margin-left: 35%;
    margin-right: 40%;
    gap: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#color-box{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 400px;
   height: 400px;
   background: #a39b9b;
}

#change-color-btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: white;
    color: black;

    
    transition: all 0.3s ease;
}


#change-color-btn:active {
    background-color: rgba(0, 0, 0, 0.582);
    color: aliceblue;
    transform: translateY(1px);
}
